  html{background-image: url(../Profile/images/lap.jpeg);
      padding: 0;
    	background-size:cover;
      background-position: center;
    	color: white;
    	text-align:center;}
  body{
    widith:100%;
    display: -wedkit-box;
    -moz-box-pack:vertical;
    -moz-box-flex: 1;

  }

.nav ul > li{float: right;
  					display: inline;
            width: 70px;
            margin-right:70px;
            color:white;
            border: :1px solid transparent;
            transition: 0.6s;
            font-size: 24px;


            }
.nav a:link, a:visited {
    display: block;
    width: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    border:1px solid transparent;

    }
  .nav a:hover, a:active {
     color: blue;
    }


.pic{padding-top: 120px;
        margin-top: 20px}

.pic img{width: 100px;
          height: 100px;
          align:center;
          border-radius: 18%;
          -webkit-transition: height 2.5s,width 2.5s,-webkit-transform 2s;
          transition: height 2.5s, width 2.5s,transform 2s
         }
  .pic img:hover{height: 300px;
                width: 345px
              }
/*------Word animation slider-----*/
#typedtext{
  font-family: sans-serif;
  font-size:25px;
  margin: 10px 50px;
  letter-spacing: 3px;
  font-weight: bold;
}

.About{text-align: justify center;
        }
#footer {background-color:black;
        color:white;
        clear:both;
        text-align:center;
        height: 5px;
        border:1px black solid
      			}
